[user]
	name = vietvudanh
	email = vietvudanh@gmail.com
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
[alias]
        st = "status -s -b"
        c = "commit"

        # --all
        # --verbose
        br = "branch -a -v"

        co = "checkout"
        cb = "checkout -b"

        # Short hash, relative date and message.
        logd = "log --pretty='%C(yellow)%h %C(cyan)%ar %Creset%s'"

        # --graph:
        #     Draw a text-based graphical representation of the commit history on
        #     the left hand side of the output.
        # --decorate:
        #     Print out the ref names of any commits that are shown. Defaults to
        #     short optionm such that the name prefixes refs/heads/, refs/tags/ and
        #     refs/remotes/ will not be printed.
        logline = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

[core]
	autocrlf = input
[init]
	defaultBranch = main
